:root {
    --clr-primary: #D9A520;
    --clr-secondary: #F6C955;
    --clr-terceary:#9B7617;
    --clr-primary-muted:#FFDE88;
    --clr-text-primary:#000000;
    --clr-text-secondary:#050505;
    --clr-yellow-v2:#FBD23F;
    --clr-white:#ffffff;
    height: 100%;
    width: 100%;
}